%h1 Editing register

= render 'form'

= link_to 'Show', @register
\|
<<<<<<< HEAD
/= link_to 'Back', registers_path
= link_to 'Home', root_path
=======
= link_to 'Back', registers_path
>>>>>>> 8a7fbcf0f8dc4b4988c3bfaf22d5043044cb5a6e
