- content_for :title, "Register Interest"

%h1.text-center.pb-3 Register Here!

= render 'form'

/= link_to 'Back', registers_path
.row.justify-content-center
  .col-lg-3.pb-3.form-actions
    = link_to 'Home', root_path, class: 'btn btn-outline-secondary w-100'
