.row
    .col-md-3
        .card.shadow-sm.sticky-top.mb-3
            .card-header
                %h5 FAQ Clicks
            .card-body
                %table.table
                    %tr
                        %th Question
                        %th Clicks
                    %tbody
                        -@questions.keys.sort_by { |k,v| v }[0..4].each do |k|
                            %tr
                                %td
                                    =k
                                %td
                                    =questions[k]
                                %td.text-center.px-4
                                    %a{:href => "#modal_review_edit", "data-bs-toggle" => "modal", "data-bs-target" => "#faq_view_modal_#{k}"}
                                        %button.btn.btn-primary
                                            View
    .col-md-9.mb-3
        .card.shadow-sm
            .card-header
                %h5 FAQ Clicks
            .card-body
                = line_chart questions_time.group_by_day(:created_at).count
