%section.bg-light
  .d-flex.justify-content-center
    .d-inline-flex.flex-wrap.home_reviews_card_container.mx-auto
      - @reviews.each_with_index do |review, i|
        .card.mx-4.w-25
          .card-body
            .d-flex.flex-column.justify-content-around
              %h4.card-title= review.title
              .d-flex.flex-row.justify-content-start.mb-4
                - review.rating.times do
                  %span.text-warning
                    %i.fas.fa-star.fa-sm
              %p.card-textSome= review.body
              .d-flex.flex-row.justify-content-between
                %p.small.text-muted #{review.likes} people found this review helpful
