%section.bg-light
  #review-carousel.carousel.slide{ "data-bs-ride" => "carousel" }
    .carousel-inner
      .carousel-item.active
        .row.mx-auto
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title One
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title One
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title One
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
      .carousel-item
        .row.mx-auto
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title One
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title Two
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title Three
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
      .carousel-item
        .row.mx-auto
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title One
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title Two
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
          .col.mx-auto
            .card.w-30
              %img.card-img-top{ :src => "https://cdn.pixabay.com/photo/2013/07/18/20/26/sea-164989_1280.jpg", :alt => "..." }
              .card-body
                %h5.card-title Card Title Three
                %p.card-textSome Some quick example text to build on the card title and make up the bulk of the card's content.
                %a.btn.btn-primary{ :href => "#" }Read more
    %btn.carousel-control-prev{ :type => "button", "data-bs-target" => "#review-carousel", "data-bs-slide" => "prev" }
      %span.carousel-control-prev-icon{ "aria-hidden" => "true" }
      %span.visually-hidden Previous
    %btn.carousel-control-next{ :type => "button", "data-bs-target" => "#review-carousel", "data-bs-slide" => "next" }
      %span.carousel-control-next-icon{ "aria-hidden" => "true" }
      %span.visually-hidden Next