- content_for :title, "Home"

%section.bg-light
  .container
    .row
      .col-lg-6.order-2.order-lg-1.my-auto
        %h1.mb-4 Stay organised with university work every single week.
        %p.lead It's often difficult to keep up with a course when you only have a few hours of lectures a week and no day-to-day structure.
        %p.lead This can leave you feeling unmotivated and eventually lead to falling behind on work.
        %p.lead 
          Our application solves this problem by allowing
          %strong.text-primary automated management of your time
          based on the credit weights of your modules, allowing you to focus on the actual studying.
        %p
          %a.btn.btn-primary.shadow.px-3.py-2{:href => "#"} Register Interest
          %a.btn.btn-outline-primary.mx-3.px-3.py-2{:href => "#"} Extra button
      .col-lg-6.order-1.order-lg-2
        =image_tag "Learning-pana.svg", alt: "Girl sat at a laptop"