- content_for :title, "Home"

%section.bg-light
  .container
    .row
      .col-lg-6.order-2.order-lg-1
        %h1 Keep up with university work every single week.
        %p.lead Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.
        %p.lead Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.
        %p.lead Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.
        %p
          %a.btn.btn-primary.shadow.mr-2{:href => "#"} Learn More
          %a.btn.btn-outline-primary{:href => "#"} An extra button
      .col-lg-6.order-1.order-lg-2
        =image_tag "Learning-pana.svg"