%section.bg-light
  .container
    .row.justify-content-center.p-0
      .col-12.col-lg-4.align-self-start.sticky-lg-top
        =render :partial => "review_overview"
      .col-12.col-lg-8
        =render :partial => "reviews"
